CompileFlags:
  CompilationDatabase: .
  Compiler: ../../.pio_core_root/packages/toolchain-gccarmnoneeabi@1.70201.0/bin/arm-none-eabi-g++
  Remove:
    - -mthumb
    - -mcpu=*
    - -mfloat-abi=*
    - -mfpu=*
    - -nostdlib
    - -fno-rtti
    - -fno-exceptions
    - -ffunction-sections
    - -fdata-sections
    - -Os
    - --target=*
  Add:
    - -std=gnu++17
    - -Isrc
    - -Iinclude
    - -Wno-unknown-warning-option
    - -Wno-unused-command-line-argument
    - -isystem
    - ../../.pio_core_root/packages/toolchain-gccarmnoneeabi@1.70201.0/arm-none-eabi/include/c++/7.2.1
    - -isystem
    - ../../.pio_core_root/packages/toolchain-gccarmnoneeabi@1.70201.0/arm-none-eabi/include/c++/7.2.1/arm-none-eabi
    - -isystem
    - ../../.pio_core_root/packages/toolchain-gccarmnoneeabi@1.70201.0/arm-none-eabi/include/c++/7.2.1/backward
    - -isystem
    - ../../.pio_core_root/packages/toolchain-gccarmnoneeabi@1.70201.0/lib/gcc/arm-none-eabi/7.2.1/include
    - -isystem
    - ../../.pio_core_root/packages/toolchain-gccarmnoneeabi@1.70201.0/lib/gcc/arm-none-eabi/7.2.1/include-fixed
    - -isystem
    - ../../.pio_core_root/packages/toolchain-gccarmnoneeabi@1.70201.0/arm-none-eabi/include
